<!-- Validation failure messages -->
<% if @improvement_plan.errors.any? %>
  <% @improvement_plan.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Improvement Plan</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_improvement_plan" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @improvement_plan.user_id %>">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @improvement_plan.state %>">
      </div>

      <button class="btn btn-success">
        Create Improvement Plan
      </button>
      or
      <a href="/improvement_plans">Cancel</a>
    </form>
  </div>
</div>
